.about-page {
  width: 100%;
  padding-top: 20vh;
  padding-bottom: 20vh;
  h1 {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 10vh;
    color: #41b3a3;
    font-family: limelight;
  }
  .bottom {
    gap: 100px;
    .img-sect {
      width: 400px;
      height: 400px;
      background: #41b3a3;
      border-radius: 50%;
      overflow: hidden;
    }
    img {
      width: 350px;
      margin-left: 0px;
    }
    .content {
      align-items: start;
      p {
        font-size: 1.2rem;
        max-width: 600px;
        text-transform: uppercase;
        text-align: justify;
      }
      button {
        width: 300px;
        height: 70px;
        background: #41b3a3;
        border: none;
        color: white;
        font-size: 1.5rem;
        text-transform: uppercase;
        border-bottom-left-radius: 35px;
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
        position: relative;
        cursor: pointer;
        margin-top: 50px;
        font-weight: 900;
        letter-spacing: 2px;
      }
    }
  }
}
